/* Image Styles */
img {
  width: 100%;
}

img.intro-image {
height: auto;
width: 70%;
}

img.about-image {
  border-radius: 8px;
  height: auto;
  width: 500px;
  padding-top: 150px;

}

img.portfolio-image {
  border-radius: 10%;
  border: solid;
}

/* Heading Styles */
h1 {
  margin: 0;
  padding: 20px 0;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: 'Times New Roman';
  font-size: 25px;
     font-weight: 500px;
}

.introduction h2 {
   font-family: Helvetica;
    font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: left;
}

/* Unordered Lists */

li {
  padding-bottom: 10px;
}


/* body */

body {
  margin: 0;
  background-color: white;
}

header {
  text-align: center;
  font-family: Audrey;
  background-color: #F3EDE9;
  margin-bottom: 40px;
  display: block;
}

.group {
  display: flex;
  flex-direction: row; 
}

section p {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 35px;
  padding-top: 5px;
}

/* Groups & Items  (Mobile First) */

.wrapper {
  width: 100%;
   margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

  .wrapper {
    width: 80%;
    margin: auto;
  }
  
.group {
    flex-direction: row;
  }
.introduction {
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

.about {
 padding: 20px 0 30px 0;
  margin: 120px 0;
  background-color: #e5e5e5;
}
}

